@import 'tailwindcss';
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-900);

  --primary: var(--color-pink-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-900);
    --foreground: var(--color-stone-50);
  }
}

[class="dark"] {
  --background: var(--color-stone-900);
  --foreground: var(--color-stone-50);
}

/* Force light theme when user explicitly chooses it */
[class="light"] {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-900);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
