@import 'tailwindcss';
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-900);
  --primary: var(--color-orange-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-900);
    --foreground: var(--color-stone-50);
  }
}

.light {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-900);
}

.dark {
  --background: var(--color-stone-900);
  --foreground: var(--color-stone-50);
  --primary: var(--color-orange-600);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
