@import 'tailwindcss';

:root {
  --background: var(--color-stone-900);
  --foreground: var(--color-stone-50);

  --primary: var(--color-pink-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
